# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Entorno
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
docker/jupyter-spark/tmp/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Datos temporales generados
datos/streaming/output/
datos/tmp/

# Logs
*.log
logs/
