# Analisis de datos
pandas>=2.1.0
numpy>=1.26.0
openpyxl>=3.1.0

# Visualizacion
matplotlib>=3.8.0
seaborn>=0.13.0
plotly>=5.18.0

# Kafka
kafka-python-ng>=2.0.2

# Utilidades
tqdm>=4.66.0
Faker>=22.0.0
